@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow:#f5bf23;
  --black:#111;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border: .1rem solid rgba(0,0,0,.3);
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 4%, 36%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 240);
  --cardBG: rgb(225, 225, 235);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--PrimaryColor);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-top: 1rem;
  border-left: 1rem solid var(--PrimaryColor);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  background: var(--gradientColor);
  color: var(--white);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: 0.2s linear;
}
.btn:hover {
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
  padding: 1rem 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
}
.header .fas {
  font-size: 30px;
  color: var(--PrimaryColor);
  transform: translateY(5px);
}
.header .fas .logo {
  font-size: 2.2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}
.header .fas .logo span {
  color: var(--PrimaryColor);
}
.header .navbar a {
  font-size: 1.6rem;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: var(--PrimaryColor);
}
.header .navbar a ul li {
  float: left;
  width: 200px;
  height: 40px;
  background: var(--PrimaryColor);
  opacity: 0.8;
  line-height: 40px;
  text-align: center;
}
.header .navbar a ul li a {
  text-decoration: none;
  display: block;
}
.header .navbar a ul li a:hover {
  background: var(--SecondaryColor);
}
.header .navbar a ul li ul li {
  display: none;
}
.header .navbar a ul li:hover ul li {
  display: block;
}
.header .icons div {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--PrimaryColor);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
}
.header .icons div:hover {
  background: var(--PrimaryColor);
  color: var(--white);
}
.header #menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 0.8rem;
  display: none;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.2s linear;
  border-radius: 15px;
}
.header .search-form.active {
  display: flex;
}
.header .search-form input {
  width: 100%;
  padding: 1rem 1.2rem;
  background: var(--light-bg);
  font-size: 1.2rem;
  color: var(--light-color);
  border-radius: 15px;
}
.header .search-form label {
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}
.header .search-form label:hover {
  color: var(--PrimaryColor);
}
.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  animation: fadeIn 0.2s linear;
  display: none;
  border-radius: 15px;
}
.header .login-form.active {
  display: block;
}
.header .login-form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  margin: 0.7rem 0;
  border-radius: 15px;
}
.header .login-form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 15px;
}
.header .login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}
.header .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}
.header .login-form .flex a:hover {
  color: var(--PrimaryColor);
  text-decoration: underline;
}
.header .login-form .btn {
  width: 100%;
  border-radius: 15px;
}
.header .login-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5rem;
  padding-top: 1.5rem;
}
.header .login-form p a {
  color: var(--PrimaryColor);
}
.header .login-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1110;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--black);
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 1rem 0;
}
.contact-info .info i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--PrimaryColor);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
}
.contact-info .info i:hover {
  background: var(--PrimaryColor);
  color: var(--white);
}
.contact-info .info h3 {
  font-size: 1.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 0.5rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5rem;
}
.contact-info .share {
  padding-top: 1rem;
  border-top: var(--border);
  margin-top: 0.5rem;
}
.contact-info .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--PrimaryColor);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
}
.contact-info .share a:hover {
  background: var(--PrimaryColor);
  color: var(--white);
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 60rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: cover !important;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, var(--white), transparent);
}
.home .slide .content {
  width: 50rem;
  position: absolute;
}
.home .slide .content h3 {
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
  color: var(--black);
}
.home .slide .content p {
  font-size: 1.3rem;
  color: var(--light-color);
  line-height: 1.5rem;
  padding: 1rem 0;
  color: var(--black);
}
.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--PrimaryColor);
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}
.home .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row .video video {
  width: 100%;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5rem;
  padding: 1rem 0;
}
.about .box-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auta-fit, minmax(16rem, 1fr));
  gap: 3rem;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 4rem;
}
.about .box-container .box h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5rem;
  padding-top: 0.5rem;
}

.services {
  background: var(--light-bg);
  padding: auto;
  width: 100%;
  justify-content: space-evenly;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auta-fit, minmax(25rem, 1fr));
  gap: 3rem;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
}
.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  box-sizing: var(--box-shadow);
  border: var(--border);
  width: 12rem;
}
.services .box-container .box:hover img {
  transform: translateY(-1rem);
}
.services .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
  transition: 0.2s linear;
}
.services .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.services .box-container .box p {
  font-size: 1.3rem;
  color: var(--light-color);
  line-height: 1.5rem;
}

.projects {
  background: var(--black);
}
.projects .heading {
  color: var(--white);
}
.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auta-fit, minmax(30rem, 1fr));
  gap: 3rem;
  display: flex;
}
.projects .box-container .box {
  cursor: initial;
}
.projects .box-container .box:hover .image img {
  transform: scale(1.1);
}
.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}
.projects .box-container .box .image img {
  height: 40rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s linear;
}
.projects .box-container .box .contents {
  display: flex;
  background: var(--white);
  justify-content: space-between;
}
.projects .box-container .box .contents .info {
  padding: 1rem 2rem;
}
.projects .box-container .box .contents .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}
.projects .box-container .box .contents .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5rem;
}
.projects .box-container .box .contents i {
  width: 6rem;
  font-size: 3rem;
  background: var(--PrimaryColor);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 6.5rem;
}

.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 1.5rem;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.reviews .slide .user .header .stars {
  padding-top: 0.5rem;
}
.reviews .slide .user .header .stars i {
  font-size: 1.4rem;
  color: var(--PrimaryColor);
}

.pricing {
  background: var(--light-bg);
}
.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auta-fit, minmax(30rem, 1fr));
  gap: 3rem;
  display: flex;
  justify-content: space-between;
}
.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  width: 60rem;
}
.pricing .box-container .box i {
  font-size: 4rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--PrimaryColor);
  color: var(--whiteColor);
}
.pricing .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
  padding: 0.5rem 0;
}
.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
}
.pricing .box-container .box .price span {
  font-size: 2rem;
}
.pricing .box-container .box .list {
  padding: 1rem 0;
}
.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 1.5rem;
}

.contact {
  background: var(--black);
}
.contact .heading {
  color: var(--white);
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .map {
  flex: 1 1 41rem;
  width: 100%;
}
.contact form {
  flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}
.contact form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}
.contact form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1rem 1.2rem;
  border-bottom: var(--border);
  font-size: 1.2rem;
  color: var(--light-color);
}
.contact form .box:focus {
  border-color: var(--PrimaryColor);
}
.contact form textare {
  height: 15rem;
  resize: none;
}

.blogs .slide {
  text-align: center;
}
.blogs .slide:hover .image img {
  transform: scale(1.1);
}
.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}
.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s linear;
}
.blogs .slide .content {
  padding: 2rem;
  padding-top: 5rem;
  background: var(--white);
  box-shadow: 0 0 1.5 rem rgba(0, 0, 0, 0.2);
}
.blogs .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 1.5rem;
}

.logo-container {
  text-align: center;
}
.logo-container img {
  height: 10rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer {
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.footer .videoDiv {
  position: absolute;
  height: 100%;
  width: 200%;
}
.footer .videoDiv video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .videoDiv::after {
  content: "";
  position: absolute;
  background: rgba(10, 84, 107, 0.307);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.footer .secContent {
  width: 70%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem initial;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  row-gap: 2rem;
  z-index: 100;
}
.footer .secContent .contactDiv {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.footer .secContent .contactDiv .text small {
  font-size: 13px;
  font-weight: 400;
  color: var(--whiteColor);
}
.footer .secContent .contactDiv .text h2 {
  color: var(--whiteColor);
  font-size: 2rem;
}
.footer .secContent .contactDiv .inputDiv {
  width: 100%;
  gap: 2rem;
  flex-direction: column;
}
.footer .secContent .contactDiv .inputDiv input {
  width: 100%;
  padding: 0.5rem 0.6rem;
  border-radius: 1rem;
  border: 1px solid var(--whiteColor);
  outline: none;
  background: transparent;
  color: var(--whiteColor);
}
.footer .secContent .contactDiv .inputDiv input::-moz-placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .contactDiv .inputDiv input::placeholder {
  color: var(--whiteColor);
  opacity: 0.5;
}
.footer .secContent .contactDiv .inputDiv .btn {
  width: 15px;
  justify-content: center;
  color: var(--whiteColor);
  font-weight: 500;
  gap: 0.5rem;
}
.footer .secContent .contactDiv .inputDiv .btn .icon {
  font-size: 18px;
}
.footer .secContent .footerCard {
  position: relative;
  padding: 1rem 1rem 4rem;
  gap: 2rem;
  border-radius: 1rem;
  background-color: var(--bodyColor);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  display: flex;
}
.footer .secContent .footerCard .footerIntro {
  flex-basis: 50%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}
.footer .secContent .footerCard .logoDiv .logo {
  color: var(--PrimaryColor);
  font-weight: 600;
  font-size: 1.5rem !important;
}
.footer .secContent .footerCard .logoDiv .logo .icon {
  color: var(--PrimaryColor);
  margin-right: 10px;
}
.footer .secContent .footerCard .footerParagraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem !important;
  gap: 0.5rem;
  color: var(--textColor);
}
.footer .secContent .footerCard .footerSocials {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  font-size: 1.2rem !important;
  color: var(--PrimaryColor) !important;
}
.footer .secContent .footerCard .footerSocials:hover {
  color: var(--SecondaryColor) !important;
}
.footer .secContent .footerCard .footerLinks {
  flex-basis: 50%;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  display: flex;
}
.footer .secContent .footerCard .footerLinks .linkGroup .groupTitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blackColor);
  margin-bottom: 0.5rem;
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList {
  font-size: 1rem;
  color: var(--textColor);
  transition: 0.3s ease-in-out;
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList .icon {
  font-size: 1.2rem;
  color: var(--greyText);
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList:hover {
  color: var(--PrimaryColor);
  transform: translateX(7px);
}
.footer .secContent .footerCard .footerLinks .linkGroup .footerList:hover .icon {
  color: var(--SecondaryColor);
}
.footer .secContent .footerCard .footerDiv {
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--SecondaryColor);
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--whiteColor);
  font-weight: 500;
}
.footer .secContent .footerCard .footerDiv small {
  font-size: 1.5rem;
  color: var(--whiteColor);
}

@media screen and (min-width: 500px) {
  .footer .secContent .footerCard .footerLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
  .footer .secContent .footerCard .footerDiv {
    justify-content: space-between;
    flex-direction: row;
  }
  .footer .secContent .footerCard .footerDiv small {
    font-size: 14px;
    color: var(--whiteColor);
  }
}
@media screen and (min-width: 600px) {
  .footer .secContent .contactDiv {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .secContent .contactDiv .inputDiv {
    width: -moz-max-content;
    width: max-content;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer .secContent .contactDiv .inputDiv input {
    width: 60%;
  }
  .footer .secContent .contactDiv .inputDiv .btn {
    width: -moz-max-content;
    width: max-content;
  }
}
@media screen and (min-width: 840px) {
  .footer {
    padding: 5rem;
  }
  .footer .secContent .footerCard {
    flex-direction: row;
  }
  .footer .secContent .footerCard .footerLinks {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer .secContent .footerCard {
    padding: 3rem 1rem;
  }
  .footer .secContent .footerCard .footerIntro .footerParagraph {
    font-size: 15px;
    color: var(--textColor);
  }
  .footer .secContent .footerCard .footerIntro .footerSocials {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .footer .secContent .footerCard .footerIntro .footerSocials .icon {
    color: var(--textColor);
    font-size: 25px;
  }
  .footer .secContent .footerCard .footerIntro .footerSocials .icon:hover {
    color: var(--PrimaryColor);
  }
  .footer .secContent .footerCard .footerLinks .linkGroup .footerList {
    font-size: 16px;
    padding: 5px 0;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
    border-radius: 1rem;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}
@media (max-width: 768px) {
  .header .search-form {
    width: 85%;
  }
  .header .login-form {
    width: 85%;
  }
  .header .contact-info {
    width: 80%;
  }
  .home .slide {
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */